section {
    min-height: 35em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#teddy {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#teddyImage {
    width: 50%;
    margin: auto;
    margin-bottom: 2em;
}

button {
    width: 15em;
    padding: 1em;
    border-radius: 2em;
    border-color: #ad7aa3;
    border-style: solid;
    background-color: #F3E9F1;
    margin: 2em;
    
}


.AddToBasket {
    width: 12em;
    padding: 1.5em;
    border-radius: 2em;
    border-color: #ad7aa3;
    border-style: solid;
    background-color: #F3E9F1;
    margin: 2em;
}

