.presentationText {
    padding: 1em 1em 3em 1em;
    text-align: center;
    background-color: #F3E9F1;
}

.teddies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3em;
    padding-bottom: 3em;
}
.teddy {
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h2 {
    text-align: center;
    padding: 1em;
}
.teddyBrown {
    width: 70%;
    position: relative;
    margin: auto;
}
.teddyWhite {
    width: 70%;
    position: relative;
    margin: auto;
}
.teddyGrey {
    width: 70%;
    position: relative;
    margin: auto;
}
